.titulo{
  color: blue;
}

.colorVerde{
  color: #bdeb08;
}

.botonVerde{
  color: #15163d;
  background-color: #bdeb08;
  font-weight: bold;
  margin-bottom: 20px;
}

.backgroundHeader {
  background-color: #15163d;
}